.App {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.navigation_bar {
    margin-bottom: 20px;
}

.list_group {
    margin-top: 20px;
}

.delete_button {
    margin-right: 20px;
}